/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/harj/nbproject/private/
/laskarit/viikko2/harj/build/
/WeatherBot/target/
/WeatherBot/nbproject/private/
/WeatherBot/nbbuild/
/WeatherBot/nbactions.xml
/WeatherBot/nb-configuration.xml
